.col-xs-10.col-xs-offset-1
  .jumbotron.text-center{style: 'margin-top: 20px;'}
    %h2 Modules
  .row
    .bs-component
      .list-group
        - @sections.each do |section|
          .list-group-item
            .row-action-primary
              =link_to "edit/#{section.id}" do
                %i.mdi-content-create
            .row-content
              .list-group-item-heading
                = "Name: #{section.name}"
              .list-group-item-content
  %a.btn.btn-info.btn-fab.btn-raise.mdi-content-add{href:"new", style: 'position: fixed; bottom: 15%; right: 15%'}
    .ripple-wrapper
